#Python
pycache/
*.py[cod]
*$py.class

#Django
*.log
local_settings.py
db.sqlite3
media

#Environment variables (CRITICAL: DO NOT UPLOAD)
.env

#Docker
.docker_data/

#Celery
app/celerybeat-schedule
app/celerybeat-schedule.*
app/celerybeat.pid

#IDEs
.idea/
.vscode/
*.swp
*.swo
