name: Sentinel CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Services
      run: make build

    - name: Start Services
      run: make up

    - name: Wait for DB
      run: sleep 10

    - name: Run Tests
      run: make test

    - name: Tear down
      run: make down